/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.04.2020, 21:15:15
    Author     : hp
*/

.body {
    width: 100%;

}

.wrapper {
    position: absolute;
    width: 1280px;
    height: auto;
    background-color: red;
}


.contentindex {
    position: absolute;
    margin: 120px 0 0 25%;
    width: 100%;
    height: 800px;
    /*    background-color: yellow;*/
    transform: scale(1.3);   
}



.headerindex {
    
/*    background-color: blue;*/
    width: 100%;
    height: 100px;
    margin: 0 0 0 0;  
}

.mainindex {
/*    background-color: red;*/
    margin: -30px 0 0 0;
    width: 100%;
    height: auto;
}



.footerindex {
/*    background: yellow;*/
    margin: 20px 0 0 0;
    height: auto;
}

.red {
    background-color: red;
    width:  100%;
    height: 5px;
    margin: -18px 0 0 0;
    
}

.benutzertable {
    padding-bottom: 50px;
    height: auto;
}

.neuerb {
/*    background-color: blue;*/
    margin-left: -50px;
    padding: 50px;
    padding-bottom: 100px;
    
}