
.body {
    width: 100%;
    height: 100%
    
}

.html {
    height: 100%
}

.wrapper {
    width: 100%;
    height: 800px;
    margin: 0 0 0 0;
 
}

.contentindex {
/*    background-color: red;*/
    margin: 0 0 0 15%;
    width: 80%;
    height: auto;

}

.headerindex {
    width: 100%;
    height: auto;
    margin: 0 0 0 0;  
}

.mainindex {
    background-color: red;
    margin: 0 0 0 0;
    width: 100%;
    height: 750px;
    
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   height: auto;
   color: white;
   font-size: 10px;
   background-color: #292c33;
}


.bdiplomarbeit {
    background-color: blue;
    width: 800px;
    height: 720px;
    padding: 5px;
    margin: -700px 0 0 500px;
    
}

.picture {
    margin: 20px 0 0 500px;
    width: 80%;
    height: 650px;
}































/*Alter Coder der Biblithek*/


.bib {
    
/*    background-color: blue;*/
    width: 1000px;
    height: auto;
    margin: 0 0 0 0;
    
}

.gesbib {
/*    background-color: orange;*/
    width: 100%;
    height: auto;
}

.glist {  
/*    background-color: green;*/
    width: 1000px;
    height: 250px;
    margin: 1550px 0 0 350px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    

}

.forward {
    margin-left: 150px;
}
  
.sortierleiste {
    position: absolute;
    margin: 0 0 0 0;
    width: 1000px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}




.content {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin: 0 0 0 0;
    width: 250px;
    height: 600px;
    border-right: 1px solid red;
}

.content > div {

    width: 100%;
    height: 25px;
    position: absolute;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
}

.uberschrift_ws {
    position: absolute;
    color:black;
    margin: 20px 0 0 0;
}

.titel {
    color:black;
    position: absolute;
    margin: 75px 0 0 0;
}

.tftitel {
    position: absolute;
    margin: 125px 0 0 25px;
    width: 170px;


}




.autor {
    color:black;
    position: absolute;
    margin: 175px 0 0 0;

}

.tfautor {
    
    height: 50px;
    position: absolute;
    margin: 225px 0 0 0;
    
}

.tfa {

    height: 50px;
    position: absolute;
    margin: 0 0 0 25px;
}

.datum {
    color:black;
    position: absolute;
    margin: 275px 0 0 0;
}

.tfdatum {


    height: 50px;
    position: absolute;
    margin: 325px 0 0 0;

}

.tfd {

    
    height: 50px;
    position: absolute;
    margin: 0 0 0 25px;

}

/*.sprache {    
    position: absolute;
    margin: 350px 0 0 0;
}

.tfsprache {
    width: 200px;
    height: 100px;
    position: absolute;
    margin: 400px 0 0 0;
}*/

/*.tfsp {

    width: 1600px;
    height: 50px;
    position: absolute;
    margin: 0 0 0 25px;

}

.fachgebiet {
    position: absolute;
    margin: 450px 0 0 0;
}*/


/*.tffachgebiet {
    width: 100%;
    height: 50px;
    position: absolute;
    margin: 500px 0 0 0;
}

.tff {
    width: 100%;
    height: 50px;
    position: absolute;
    margin: 0 0 0 25px;
}*/


.schlagwort {
    color:black;
    position: absolute;
    margin: 375px 0 0 0;
}

.tfschlagwort {
  
    height: 50px;
    position: absolute;
    margin: 425px 0 0 0;
}

.tfs {
    
    height: 25px;
    position: absolute;
    margin: 0 0 0 25px;
}

.button_suche {
    position: absolute;
    margin: 480px 0 0 0;
}


/*Gesamtbild: Diplomarbeit  + Überschrfit*/

.uberschrift_bild {
    position: absolute;
    margin: 25% 0 0 0;
    width: 100%;
    height: 50px;
    /*border: 1px solid black;*/
}

.bild1 {
    
    position: absolute;
    margin: 100px 0 0 100px;
    border: 5px solid black;
    width: 300px;
    height: 300px;
}


.bild2 {
    position: absolute;
    margin: 100px 0 0 400px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
}



.bild3 {
    position: absolute;
    margin: 100px 0 0 700px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
}

.bild4 {
    position: absolute;
    margin: 500px 0 0 100px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
}

.bild5 {
    position: absolute;
    margin: 500px 0 0 400px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
}


.bild6 {
    position: absolute;
    margin: 500px 0 0 700px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
}

.bild7 {
    position: absolute;
    margin: 900px 0 0 100px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
}

.bild8 {

    position: absolute;
    margin: 900px 0 0 400px;
    border: 1px solid black;
    width: 200px;
    height: 300px;

}


.bild9 {
    position: absolute;
    margin: 900px 0 0 700px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
}


.bild10 {

    position: absolute;
    margin: 1300px 0 0 100px;
    border: 1px solid black;
    width: 200px;
    height: 300px;

}




/*Bild der Diplomarbeit:*/
.dp1 {

    position: absolute;
    margin: 0 0 0 0;
    width: 100%;
    height: 250px;
   
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}


.dp2 {
    position: absolute;
    margin: 0 0 0 15px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}


.dp3 {
    position: absolute;
    margin: 230px 0 0 15px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}


.dp4 {
    position: absolute;
    margin: 230px 0 0 15px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp5 {
    position: absolute;
    margin: 230px 0 0 15px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp6 {
    position: absolute;
    margin: 230px 0 0 15px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp7 {
    position: absolute;
    margin: 230px 0 0 15px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp8 {
    position: absolute;
    margin: 230px 0 0 15px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}


.dp9 {
    position: absolute;
    margin: 230px 0 0 15px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp10 {
    position: absolute;
    margin: 230px 0 0 15px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp11 {
    position: absolute;
    margin: 230px 0 0 15px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp12 {
    position: absolute;
    margin: 230px 0 0 15px;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
}




