/*Bilbliothek*/



.bib {
/*    position: fixed;*/
    margin: 0 0 0 300px;
    background-color: red;
    
}

.body {
/*    background-color: green;*/
/*      width: 100%;
      height: 100%;*/
}

.seitenleiste {
    position: absolute;
/*    background-color: red;*/
    width: 100%;
    margin: 1600px 0 0 0;
}


.seitenanzahl_leiste {
    width: 100%;
    height: 100px;
/*    background-color: green;*/
}

.hochzählen {
    margin: -50px 0 0 1100px;
/*    background-color: blue;*/
    font-size: 20px;
    line-height: 40px;
    

}

.hinunterzählen {
    margin: 0 0 0 700px;
/*    background-color: orange;*/
    line-height: 40px;
    font-size: 20px;
    
    
}

.liste {
    margin: -45px 0 0 700px;
    text-align: center;
/*    background-color: graytext;*/
    width: 500px;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    
}

   
.sortierleiste {
    position: absolute;
    margin: 0 0 0 0;
    width: 1000px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    background-color: greenyellow;
    position: absolute;
    margin: 0 0 0 0;
    width: 300px;
    height: 800px;
}

.content > div {

    width: 100%;
    height: 50px;
    position: absolute;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}

.uberschrift_ws {
    position: absolute;
    margin: 0 0 0 0;
}

.titel {
    position: absolute;
    margin: 50px 0 0 0;
}

.tftitel {
    position: absolute;
    margin: 100px 0 0 0;

}

.tft {
    width: 100%;
    height: 50px;
    position: absolute;
    margin: 0 0 0 25px;
}


.autor {
    position: absolute;
    margin: 150px 0 0 0;

}

.tfautor {
    width: 100%;
    height: 50px;
    position: absolute;
    margin: 200px 0 0 0;
}

.tfa {

    width: 100%;
    height: 50px;
    position: absolute;
    margin: 0 0 0 25px;
}

.datum {
    position: absolute;
    margin: 250px 0 0 0;
}

.tfdatum {

    width: 100%;
    height: 50px;
    position: absolute;
    margin: 300px 0 0 0;

}

.tfd {

    width: 100%;
    height: 50px;
    position: absolute;
    margin: 0 0 0 25px;

}

.sprache {    
    position: absolute;
    margin: 350px 0 0 0;
}

.tfsprache {
    width: 200px;
    height: 100px;
    position: absolute;
    margin: 400px 0 0 0;
}

.tfsp {

    width: 1600px;
    height: 50px;
    position: absolute;
    margin: 0 0 0 25px;

}

.fachgebiet {
    position: absolute;
    margin: 450px 0 0 0;
}


.tffachgebiet {
    width: 100%;
    height: 50px;
    position: absolute;
    margin: 500px 0 0 0;
}

.tff {
    width: 100%;
    height: 50px;
    position: absolute;
    margin: 0 0 0 25px;
}


.schlagwort {
    position: absolute;
    margin: 550px 0 0 0;
}

.tfschlagwort {
    width: 100%;
    height: 50px;
    position: absolute;
    margin: 600px 0 0 0;
}

.tfs {
    width: 100%;
    height: 50px;
    position: absolute;
    margin: 0 0 0 25px;
}

.button_suche {
    position: absolute;
    margin: 700px 0 0 0;
}


/*Gesamtbild: Diplomarbeit  + Überschrfit*/

.uberschrift_bild {
    position: absolute;
    margin: 249px 0 0 0;
    width: 100%;
    height: 50px;
    border: 1px solid black;
}

.bild1 {
    background-color: white;
    position: absolute;
    margin: 100px 0 0 100px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
}


.bild2 {
    position: absolute;
    margin: 100px 0 0 400px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
}



.bild3 {
    position: absolute;
    margin: 100px 0 0 700px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
}

.bild4 {
    position: absolute;
    margin: 500px 0 0 100px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
}

.bild5 {
    position: absolute;
    margin: 500px 0 0 400px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
}


.bild6 {
    position: absolute;
    margin: 500px 0 0 700px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
}

.bild7 {
    position: absolute;
    margin: 900px 0 0 100px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
}

.bild8 {

    position: absolute;
    margin: 900px 0 0 400px;
    border: 1px solid black;
    width: 200px;
    height: 300px;

}


.bild9 {
    position: absolute;
    margin: 900px 0 0 700px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
}


.bild10 {

    position: absolute;
    margin: 1300px 0 0 100px;
    border: 1px solid black;
    width: 200px;
    height: 300px;

}




/*Bild der Diplomarbeit:*/
.dp1 {

    
    position: absolute;
    margin: 0 0 0 0;
    width: 100%;
    height: 250px;

    text-align: center;
    line-height: 50px;
    font-size: 20px;
}


.dp2 {
    position: absolute;
    margin: 230px 0 0 15px;

    text-align: center;
    line-height: 50px;
    font-size: 20px;
}


.dp3 {
    position: absolute;
    margin: 230px 0 0 15px;

    text-align: center;
    line-height: 50px;
    font-size: 20px;
}


.dp4 {
    position: absolute;
    margin: 230px 0 0 15px;

    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp5 {
    position: absolute;
    margin: 230px 0 0 15px;

    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp6 {
    position: absolute;
    margin: 230px 0 0 15px;

    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp7 {
    position: absolute;
    margin: 230px 0 0 15px;

    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp8 {
    position: absolute;
    margin: 230px 0 0 15px;

    text-align: center;
    line-height: 50px;
    font-size: 20px;
}


.dp9 {
    position: absolute;
    margin: 230px 0 0 15px;

    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp10 {
    position: absolute;
    margin: 230px 0 0 15px;

    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp11 {
    position: absolute;
    margin: 230px 0 0 15px;

    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp12 {
    position: absolute;
    margin: 230px 0 0 15px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}




