/*Bilbliothek*/

.wrapper {
    position:absolute;
    width: 100%;
    height: 100%;
    
    
}

.seite {
    
    display: flex;
    flex-wrap: wrap;

    position: relative;
    background-color: blueviolet;
    
    width: 1500px;
    height: 2000px;
    margin: 0 auto 0 auto;
    
        
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  z-index: 1;
  
  
}

.flex-container > div {
  width: 50px;
  margin: 0 0px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
}


.flex {
  display: flex;
  flex-wrap: wrap;
  background-color: orange;
  position: absolute;
  
  margin: 50px 0 0 0;
  width: 100%;
  height: 50px;
}

.sortierleiste {
    
    position: absolute;
    margin: 0 100px 150px 0;
    width: 100%;
    height: 50px;
/*    background-color: red;*/
    
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    
}

.buttonleiste {
    position: absolute;
    height: 100%;
    margin: 0 0 0 900px;
    padding-top: 7.5px;
    /*background-color: blue;*/
}

.benutzername {
    position: absolute;
    height: 100%;
/*  background-color: green;*/
    margin: 0 0 0 200px;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
    padding-top: 10px;
}

.diplomarbeit {
/*  background-color: red;*/
    margin: 0 0 0 10px;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
    padding-top: 10px;
    
}



.liste {
    margin: 0px 0px 0px 100px;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
}

.list1 {
    margin: auto 0px auto 400px;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
}







.content {
  display: flex;
  flex-wrap: wrap;
  background-color: greenyellow;
  position: absolute;
  margin: 100px 0 0 0;
  width: 300px;
  height: 800px;
/*  z-index: 1;*/
    
}

.content > div {
  
  width: 100%;
  height: 50px;
  position: absolute;
  text-align: center;
  line-height: 50px;
  font-size: 25px;

  
}

.uberschrift_ws {
    
    position: absolute;
    margin: 0 0 0 0;
    
}



.titel {
    
    position: absolute;
    margin: 50px 0 0 0;
    
}

.tftitel {
    position: absolute;
    margin: 100px 0 0 0;
    
}

.tft {
    
    width: 100%;
    height: 50px;
    position: absolute;
    margin: 0 0 0 25px;
    
}


.autor {
    position: absolute;
    margin: 150px 0 0 0;
    
}

.tfautor {
    
    width: 100%;
    height: 50px;
    position: absolute;
    margin: 200px 0 0 0;
    
}

.tfa {
    
    width: 100%;
    height: 50px;
    position: absolute;
    margin: 0 0 0 25px;
}

.datum {
    
    position: absolute;
    margin: 250px 0 0 0;
    
}

.tfdatum {
    
    width: 100%;
    height: 50px;
    position: absolute;
    margin: 300px 0 0 0;
    
}

.tfd {
    
    width: 100%;
    height: 50px;
    position: absolute;
    margin: 0 0 0 25px;
    
}

.sprache {    
    position: absolute;
    margin: 350px 0 0 0;
}

.tfsprache {
    width: 200px;
    height: 100px;
    position: absolute;
    margin: 400px 0 0 0;
}

.tfsp {
    
    width: 1600px;
    height: 50px;
    position: absolute;
    margin: 0 0 0 25px;
    
}

.fachgebiet {
    
    position: absolute;
    margin: 450px 0 0 0;
    
}


.tffachgebiet {
    
    width: 100%;
    height: 50px;
    position: absolute;
    margin: 500px 0 0 0;
    
}

.tff {
    
    width: 100%;
    height: 50px;
    position: absolute;
    margin: 0 0 0 25px;
    
}


.schlagwort {
    
    position: absolute;
    margin: 550px 0 0 0;
    
}

.tfschlagwort {
    
    width: 100%;
    height: 50px;
    
    position: absolute;
    margin: 600px 0 0 0;
    
}

.tfs {
    
    width: 100%;
    height: 50px;
    position: absolute;
    margin: 0 0 0 25px;
    
}

.button_suche {
    
    position: absolute;
    margin: 700px 0 0 0;
}


/*Gesamtbild: Diplomarbeit  + Überschrfit*/
.bib {
  position: absolute;
  margin: 100px 0 0 300px;
  width: 1000px;
  height: 1900px;
  
    
}



.uberschrift_bild {
    
    
    position: absolute;
    margin: 249px 0 0 0;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    
}

.bild1 {
    
    background-color: white;
    position: absolute;
    margin: 100px 0 0 100px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
    
}


.bild2 {
    
    position: absolute;
    margin: 100px 0 0 400px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
    
}



.bild3 {
    
    position: absolute;
    margin: 100px 0 0 700px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
    
}

.bild4 {
    
    position: absolute;
    margin: 500px 0 0 100px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
    
}

.bild5 {
    
    position: absolute;
    margin: 500px 0 0 400px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
    
}


.bild6 {
    
    position: absolute;
    margin: 500px 0 0 700px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
    
}

.bild7 {
    
    position: absolute;
    margin: 900px 0 0 100px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
    
}

.bild8 {
    
    position: absolute;
    margin: 900px 0 0 400px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
    
}


.bild9 {
    
    position: absolute;
    margin: 900px 0 0 700px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
    
}


.bild10 {
    
    position: absolute;
    margin: 1300px 0 0 100px;
    border: 1px solid black;
    width: 200px;
    height: 300px;
    
}




/*Bild der Diplomarbeit:*/
.dp1 {
    
/*    background-color: red;*/
    position: absolute;
    margin: 0 0 0 0;
    width: 100%;
    height: 250px;
    
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}


.dp2 {
    position: absolute;
    margin: 230px 0 0 15px;
    
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}


.dp3 {
    position: absolute;
    margin: 230px 0 0 15px;
    
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}


.dp4 {
    position: absolute;
    margin: 230px 0 0 15px;
    
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp5 {
    position: absolute;
    margin: 230px 0 0 15px;
    
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp6 {
    position: absolute;
    margin: 230px 0 0 15px;
    
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp7 {
    position: absolute;
    margin: 230px 0 0 15px;
    
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp8 {
    position: absolute;
    margin: 230px 0 0 15px;
    
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}


.dp9 {
    position: absolute;
    margin: 230px 0 0 15px;
    
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp10 {
    position: absolute;
    margin: 230px 0 0 15px;
    
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp11 {
    position: absolute;
    margin: 230px 0 0 15px;
    
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.dp12 {
    position: absolute;
    margin: 230px 0 0 15px;
    
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.seitenleiste {
    
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100px;
    margin: 1900px 0 0 0px;
   
    
}


.seitenanzahl_leiste {
    margin: 0 0 0 0;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

