

.body { width: 100%; }


html, body {
    height: 100%;
}

.wrapper {
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
    
}


.contentindex {
    margin: 0 0 0 10%;
    width: 80%;
    height: auto;  
}

.headerindex {
    width: 100%;
    height: auto;
    margin: 10px 0 0 0;  
}


.mainindex {
    
    background-color: red;
    width: 100%;
    height: auto;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    color: white;
    font-size: 10px;
    background-color: #292c33;
}

.view {
    width: auto;
    height: auto;
}


.bilddiplomarbeit {
    /*  width: 500px;
        height: 750px;*/
    margin: 0 0 0 5%;
    padding: 20px;
}


.pdfdip {
    width: 100%;
    height: 650px;
    margin: 40px 0 0 0;
    padding-bottom: 20px;

}

.gestextlist {
    width: 570px;
    height: 900px;
    margin: -1030px 0 0 700px;
/*    margin: 0 0 0 0;*/
    padding: 10px;

}

.datenliste {
    
    width: 90%;
    height: 500px;
    margin: 40px 0 0 6%;
}


.einleitung {
    background-color: buttonface;
    width: 550px;
    height: auto;
    
}


.text {
    font-size: 15px;
    text-align: justify;
    color: black;
    font-family: Verdana;

}

.textfield {
    padding: 20px;
}

.buttonleiste {
    background-color: blue;
    width: 100%;
    height: auto;
    padding-bottom: 150px;
}

.pdffile {
    width: 1000px; 
    height: 1000px;
}

.dipansehenimage {
    width: 550px; 
    height: 700px;
}


