

.main {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}

.ueberschrift {
    position: absolute;
    margin-left: 25%;  
}

.anzeigefelder {
    position: absolute;
    margin-top: 100px;
    margin-left: 25%;  
}


.diplomarbeit {
    
    position: absolute;
    margin-top: 100px;
    margin-left: 800px; 
    
    
}