/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.03.2020, 16:02:31
    Author     : hp
*/

.content {
/*    background-color: red;*/
    margin: 0 0 0 12%;
}


.body {
    width: 100%;

}

.wrapper {
    width: 100%;
}


.contentindex {
    
    transform: scale(1.4);
    margin: 130px 0 0 25%;
    width: 1050px;
    height: 650px;
/*    background-color: yellow;*/   
}


.headerindex {
    
/*    background-color: blue;*/
    width: 100%;
    height: 100px;
    margin: 0 0 0 0;  
}

.footerindex {
/*    background: yellow;*/
    margin: 0 0 0 0;
    height: auto;
}

.red {
    background-color: red;
    width:  100%;
    height: 5px;
    margin: -18px 0 0 0;
    
}