/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.03.2020, 13:57:03
    Author     : hp
*/

.content {
    margin: 8% 0 0 25%;
}

.body {
    width: 100%;

}

.wrapper {
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
}


.contentindex {
    
    transform: scale(1);
    margin: 0 0 0 10%;
    width: 80%;
    height: 800px;
/*    background-color: yellow;   */
}

.mainindex {
/*    background-color: red;*/
    margin: 0 0 0 0;
    width: 100%;
    height: 670px;
}



.headerindex {
    
/*    background-color: blue;*/
    width: 100%;
    height: auto;
    margin: 0 0 0 0;  
}



.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    color: white;
    font-size: 10px;
    background-color: #292c33;
}


