
.navFooter {
    width: 100%;
    height: 100px;
    
}


.navFooter ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navFooter li {
    display:inline-block;  
    color: white;
    font-size: 15px;
    padding: 10px;
}

.navFooter li a {
    margin: 0;
    padding: 0;

}

.addresse1 {
    margin: 10px 0 0 12%;
    padding-top:10px;
}

.addresse2 {
    margin: 0 0 0 -20px;
    padding-top:10px; 
}

.addresse3 {
    
    margin: 0 0 0 -20px;
    padding-top: 10px; 
}


.impressum {
    margin: 0 0 0 0;
}

.datenschutz {  
    margin: 0 0 0 0;   
}

.youtube {  
    margin: 0 0 0 10%;
}

.facebook {
    margin: 0 0 0 0;
}

.twitter {   
    margin: 0 0 0 0;
}

.rssfeed {
    margin: 0 0 0 0;
}