


/*---------------Testzwecke -------------------------------*/
/*footer*/
.footer_bib {
   position: absolute;
   left: 0;   
   width: 100%;
   background-color: red;
   color: white;
   text-align: center; 
   margin: 0 0 0 0;
}


.navbox {
    width: 100%;
    height: 100px;
    background-color: lightgray;
}


#navlist li
{
    display: inline;
    list-style-type: none;

}

.addresse {
    position: absolute;
    margin: 10px 0 0 50px;
    width: 500px;
    color: white;
    color: black;
    
}

.impressum {
    position: absolute;
    margin: 10px 0 0 600px;
    color: black;
   
}

.datenschutz {
    position: absolute;
    margin: 10px 0 0 700px;
    color: black;
    
}

.youtube {
    position: absolute;
    margin: 10px 0 0 1100px;
    color: black;
}

.facebook {
     position: absolute;
     margin: 10px 0 0 1200px;
     color: black;
}

.twitter {
    position: absolute;
    margin: 10px 0 0 1300px;
    color: black;
}

.rsfeed {
    position: absolute;
    margin: 10px 0 0 1400px;
    color: black;
}