

.body {
/*    background-color: green;*/
/*    height: 1000px;*/
}

.navbar {
    background-color: lightgray;


}


.navbar form a{
    float: left;
    color: #464a56;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
}


.navbar form label{
    color: #464a56;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
    font-size: 17px;
    margin: 0px;
}

.navbar form ul{
    position: relative;
    list-style: none;
    color: #464a56;
    text-decoration: none;
    display: inline-block;
    float: right;
    margin: auto;

}

.navbar form ul li{
    display: inline;

}

.navbar form .navLink:hover{
    background-color: lightcoral;
}





