

.body {
/*    background-color: green;*/
/*    height: 1000px;*/
}

.navbar {
/*    background-color: yellowgreen;*/
      height: auto;
 
}

.navbar form a  { 
    color: #464a56;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    font-size: 18px;
}


.navbar form label {
    color: #464a56;
    text-align: center;
    padding: 15px ;
    text-decoration: none;
    font-size: 18px;
   
}

.navbar form ul {
    float: right;
    position: relative;
    list-style: none;
    color: #464a56; 
    text-decoration: none;
    margin: 18px;

}

.navbar form ul li{
    display: inline;

}


.navbar form .navLink:hover{
    background-color: red;
    color:white;
}

.red {
    background-color: red;
    width:  100%;
    height: 5px;
    margin-top: -18px;
    

}

.benutzername {
    font-size: 18px;
}


