
.navbar {
    background-color: whitesmoke;
}

.navbar form a {
    
    float: left;
    color: #464a56;
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
    font-size: 17px;
}

.navbar form label {
    color: #464a56;
    text-align: center;
    padding: 12px ;
    text-decoration: none;
    font-size: 15px;
    margin: 0px;
}

.navbar form ul {
    position: relative;
    list-style: none;
    color: #464a56;
    text-decoration: none;
    display: inline-block;
    float: right;
    margin: auto;
}

.navbar form ul li{
    display: inline;

}

.navbar form .navLink:hover{
    background-color: #e40010;
    color: white;
}

.benutzername {
/*    background-color: blue;*/
}


.bn {
/*    background-color: blue;*/
    margin-right: 100px;
    width: 30px;
    height: 10px;
}





