
@media only screen and (max-width: 1600px) {

    .firstTable {
        width: 300px;
        margin: 50px 0 0 10%;
    }

    .secondTable {
        width: 300px; 
        margin: 10px 0 0 10%;
    }

    .thirdTable {
        width: 300px;
        margin: 10px 0 0 10%;
    }

}


@media only screen and (max-width: 1400px) {
    
    .firstTable {
        width: 300px;
        margin: 50px 0 0 10%;
    }

    .secondTable {
        width: 300px; 
        margin: 10px 0 0 10%;
    }

    .thirdTable {
        width: 300px;
        margin: 10px 0 0 10%;
    }


}


@media only screen and (max-width: 1000px) {
    
    .firstTable {
        width: 300px;
        margin: 50px 0 0 25%;
    }

    .secondTable {
        width: 300px; 
        margin: 10px 0 0 25%;
    }

    .thirdTable {
        width: 300px;
        margin: 10px 0 0 25%;
    }
    
 
}



@media only screen and (max-width: 810px) {
    
    .firstTable {
        width: 300px;
        margin: 300px 0 0 10%;
    }

    .secondTable {
        width: 300px; 
        margin: 10px 0 0 10%;
    }

    .thirdTable {
        width: 300px;
        margin: 10px 0 0 10%;
    }
    
    
  
}



@media only screen and (max-width: 600px) {
    
    .firstTable {
        width: 300px;
        margin: 300px 0 0 10%;
    }

    .secondTable {
        width: 300px; 
        margin: 10px 0 0 10%;
    }

    .thirdTable {
        width: 300px;
        margin: 10px 0 0 10%;
    }
    
    
  
}

                                  