/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.04.2020, 21:51:54
    Author     : hp
*/

@media only screen and (max-width: 1600px) {

    .mainindex {
        height: auto;

    }

    .bilddiplomarbeit {    
        width: 70%;
        height: auto;
        margin: 50px 0 0 25%;
        padding: 50px;
    }

    .gestextlist {
        
        width: 570px;
        height: auto;
        margin: -150px 0 0 25%;
        padding-bottom: 10px;

    }

    .datenliste {
        width: 250px;
        height: 600px;
        margin: 50px 0 0 25%;
        padding-bottom: 10%;
    }

}


@media only screen and (max-width: 1200px) {

    .mainindex {
        height: auto;

    }

    .bilddiplomarbeit {    
        width: 70%;
        height: auto;
        margin: 50px 0 0 20%;
        padding: 50px;
    }

    .gestextlist {
       
        width: 570px;
        height: auto;
        margin: -150px 0 0 20%;
        padding-bottom: 10px;

    }

    .datenliste {
        width: 250px;
        height: 600px;
        margin: 50px 0 0 20%;
        padding-bottom: 10%;
    }


}


@media only screen and (max-width: 1100px) {

  
    .mainindex {
        height: auto;

    }

    .bilddiplomarbeit {    
        width: 70%;
        height: auto;
        margin: 50px 0 0 15%;
        padding: 50px;
    }

    .gestextlist {
       
        width: 570px;
        height: auto;
        margin: -150px 0 0 15%;
        padding-bottom: 10px;

    }

    .datenliste {
        width: 250px;
        height: 600px;
        margin: 50px 0 0 15%;
        padding-bottom: 10%;
    }


}



@media only screen and (max-width: 900px) {

     .mainindex {
        height: auto;

    }

    .bilddiplomarbeit {    
        width: 70%;
        height: auto;
        margin: 50px 0 0 5%;
        padding: 50px;
    }

    .gestextlist {
        
        width: 570px;
        height: auto;
        margin: -150px 0 0 5%;
        padding-bottom: 10px;

    }

    .datenliste {
        width: 250px;
        height: 600px;
        margin: 50px 0 0 10%;
        padding-bottom: 10%;
    }
    
    .dipansehenimage {
        width: 400px; 
        height: 500px;
        margin: 0 0 0 5%;
    }


}



@media only screen and (max-width: 830px) {

     .mainindex {
        height: auto;

    }

    .bilddiplomarbeit {    
        width: 70%;
        height: auto;
        margin: 160px 0 0 0;
        padding: 50px;
    }

    .gestextlist {
       
        width: 570px;
        height: auto;
        margin: -150px 0 0 0;
        padding-bottom: 10px;

    }

    .datenliste {
        width: 250px;
        height: auto;
        margin: 50px 0 0 5%;
        padding-bottom: 10%;
    }
    
    .dipansehenimage {
        width: 400px; 
        height: 500px;
    }


}



