
@media only screen and (max-width: 1600px) {

    
    .footer {
        height: 150px;   
    }

    .addresse1 {    
        margin: 0 0 0 25%;
        padding-top:10px; 
    }

    .addresse2 { 
        margin: 0 0 0 0;
        padding-top:10px; 
    }

    .addresse3 {
        margin: 0 0 0 0;
        padding-top:10px; 
    }


    .impressum {
        margin: 0 0 0 31%; 
    }

    .datenschutz {
        margin: 0 0 0 0;   
    }

    .youtube {
        margin: 0 0 0 0;
    }

    .facebook {
        margin: 0 0 0 0;
    }

    .twitter {
        margin: 0 0 0 0;
    }

    .rssfeed {
        margin: 0 0 0 0;
    }



}


@media only screen and (max-width: 1400px) {

    
    .footer {
        height: 150px;   
    }

    .addresse1 {    
        margin: 0 0 0 25%;
        padding-top:10px; 
    }

    .addresse2 { 
        margin: 0 0 0 0;
        padding-top:10px; 
    }

    .addresse3 {
        margin: 0 0 0 0;
        padding-top:10px; 
    }


    .impressum {
        margin: 0 0 0 32%; 
    }

    .datenschutz {
        margin: 0 0 0 0;   
    }

    .youtube {
        margin: 0 0 0 0;
    }

    .facebook {
        margin: 0 0 0 0;
    }

    .twitter {
        margin: 0 0 0 0;
    }

    .rssfeed {
        margin: 0 0 0 0;
    }

    

}


@media only screen and (max-width: 1200px) {

   .footer {
        height: 150px;   
    }

    .addresse1 {    
        margin: 0 0 0 25%;
        padding-top:10px; 
    }

    .addresse2 { 
        margin: 0 0 0 0;
        padding-top:10px; 
    }

    .addresse3 {
        margin: 0 0 0 0;
        padding-top:10px; 
    }


    .impressum {
        margin: 0 0 0 32%; 
    }

    .datenschutz {
        margin: 0 0 0 0;   
    }

    .youtube {
        margin: 0 0 0 0;
    }

    .facebook {
        margin: 0 0 0 0;
    }

    .twitter {
        margin: 0 0 0 0;
    }

    .rssfeed {
        margin: 0 0 0 0;
    }
    

}



@media only screen and (max-width: 1200px) {

   .footer {
        height: 150px;   
    }

    .addresse1 {    
        margin: 0 0 0 25%;
        padding-top:10px; 
    }

    .addresse2 { 
        margin: 0 0 0 0;
        padding-top:10px; 
    }

    .addresse3 {
        margin: 0 0 0 28%;
        padding-top:10px; 
    }


    .impressum {
        margin: 0 0 0 0; 
    }

    .datenschutz {
        margin: 0 0 0 0;   
    }

    .youtube {
        margin: 0 0 0 40%;
    }

    .facebook {
        margin: 0 0 0 0;
    }

    .twitter {
        margin: 0 0 0 0;
    }

    .rssfeed {
        margin: 0 0 0 0;
    }
    

}



@media only screen and (max-width: 1050px) {

  
     .footer {
        height: 300px;   
    }

    .addresse1 {    
        margin: 0 0 0 35%;
        width: 100%;
    }

    .addresse2 { 
        margin: 0 0 0 28%;
        width: 100%;
    }

    .addresse3 {
        margin: 0 0 0 37%;
        width: 100%;
    }


    .impressum {
       margin: 0 0 0 37%;
       width: 100%; 
    }

    .datenschutz {
        margin: 0 0 0 37%;
        width: 100%;
    }

    .youtube {
        margin: 0 0 0 32%;
    
    }

    .facebook {
        margin: 0 0 0 0;
    }

    .twitter {
        margin: 0 0 0 0;
    }

    .rssfeed {
         margin: 0 0 0 0;
    }
    
    

}


@media only screen and (max-width: 850px) {

  
   .footer {
        height: 300px;   
    }

    .addresse1 {    
        margin: 0 0 0 35%;
        width: 100%;
    }

    .addresse2 { 
        margin: 0 0 0 28%;
        width: 100%;
    }

    .addresse3 {
        margin: 0 0 0 37%;
        width: 100%;
    }


    .impressum {
       margin: 0 0 0 37%;
       width: 100%; 
    }

    .datenschutz {
        margin: 0 0 0 37%;
        width: 100%;
    }

    .youtube {
        margin: 0 0 0 32%;
    
    }

    .facebook {
        margin: 0 0 0 0;
    }

    .twitter {
        margin: 0 0 0 0;
    }

    .rssfeed {
         margin: 0 0 0 0;
    }
    
    

}



@media only screen and (max-width: 600px) {

  
   .footer {
        height: 300px;   
    }

    .addresse1 {    
        margin: 0 0 0 30%;
        width: 100%;
    }

    .addresse2 { 
        margin: 0 0 0 22%;
        width: 100%;
    }

    .addresse3 {
        margin: 0 0 0 35%;
        width: 100%;
    }


    .impressum {
       margin: 0 0 0 35%;
       width: 100%; 
    }

    .datenschutz {
        margin: 0 0 0 35%;
        width: 100%;
    }

    .youtube {
        margin: 0 0 0 30%;
    
    }

    .facebook {
        margin: 0 0 0 0;
    }

    .twitter {
        margin: 0 0 0 0;
    }

    .rssfeed {
         margin: 0 0 0 0;
    }
    
    

}


