/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.04.2020, 13:56:51
    Author     : hp
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.04.2020, 12:45:10
    Author     : hp
*/

@media only screen and (max-width: 1500px) {
    
    .mainindex {
        
    }

    .footer {   
        width: 100%;
        height: auto;
    }


    .addresse {
        margin: 0 0 0 0;
        width: 600px;
        color: white;
        font-size: 15px;
    }

    .youtube {
        margin: 0 0 0 1%;
        color: white;
    }

    .addresse1 {
        margin: 0 0 0 auto;
        width: auto;
        color: white;
        font-size: 15px;
    }

    .addresse2 {
        margin: 0 0 0 auto;
        width: auto;
        color: white;
        font-size: 15px;
    }

    .addresse3 {
        margin: 0 0 0 auto;
        width: auto;
        color: white;
        font-size: 15px;
    }

    .impressum {
        font-size: 15px;
        width: auto;
        margin: 0 0 0 0;
        color: white;
    }

    .datenschutz {
        font-size: 15px;
        width: auto;
        margin: 0 0 0 auto;
        color: white;
    }

    .youtube {
        margin: 0 0 0 1%;
        color: white;
    }

    .facebook {
        margin: 0 0 0 1%;
        width: auto;
        color: white;
    }

    .twitter {
        margin: 0 0 0 1%;
        width: auto;
        color: white;
    }

    .rsfeed {
        margin: 0 0 0 1%;
        color: white;
    }






}


/*@media only screen and (min-width: 1200px) {

    .mainindex {
        background-color: blue;
        width: 100%;
        height: 750px;
        
    }

    .addresse1 {
        margin: 0 0 0 10%;
        width: auto;
        color: white;
        font-size: 15px;
    }

    .addresse2 {
        margin: 0 0 0 auto;
        width: auto;
        color: white;
        font-size: 15px;
    }

    .addresse3 {
        margin: 0 0 0 auto;
        width: auto;
        color: white;
        font-size: 15px;
    }

    .impressum {
        font-size: 15px;
        width: auto;
        margin: -10px 0 0 1%;
        color: white;

    }

    .datenschutz {
        font-size: 15px;
        width: auto;
        margin: 0 0 0 2%;
        color: white;
    }

    .youtube {
        margin: 0 0 0 10%;
        color: white;
    }

    .facebook {
        margin: 0 0 0 0;
        width: auto;
        color: white;
    }

    .twitter {
        margin: 0 0 0 0;
        width: auto;
        color: white;
    }

    .rsfeed {
        margin: 0 0 0 0;
        color: white;
    }






}*/