






@media screen and (max-width: 1400px) {



    .navbarHeader {
        height: auto;
    }

    .headerindex {
        height: 100px;
    }

    .navbarHeader form ul {
        float:left;
        list-style: none;
        color: #464a56;
        text-decoration: none;
        width: 80%;
        margin: 15px 0 0 60px; 
        margin-left: -45px;
    }

    navbarHeader li a {
        float:left;
        display: block;
        width: 150px;
        margin: 0 0 0 -20px;
        width: 100%;    
    }

    .red {
        width:  100%;
        height: 5px;
        margin: 50px 0 0 0;

    }






}



@media screen and (max-width: 1050px) {


    .headerindex {
        height: auto;
    }

    .navbarHeader form ul {
        list-style: none;
        color: #464a56;
        text-decoration: none;
        width: 80%;
        margin: 15px 0 0 60px;
        margin-left: -45px;
    }

    navbarHeader li a {
        display: block;
        width: 150px;
        margin: 0 0 0 -20px;
        width: 100%;    
    }

    .red {
        width:  100%;
        height: 5px;
        margin: 50px 0 0 0;
    }






}



@media screen and (max-width: 1050px) {


    .logo {
        margin-left: 20%; 
    }

    .contentindex {
        width: 500px;
    }

    .navbarHeader form ul {
        list-style: none;
        color: #464a56;
        text-decoration: none;
        width: 100%;
        margin: 0 0 0 0;
    }


    .navbarHeader li a {
        display: block;
        width: 100%; 
    }

    .red {
        width:  100%;
        height: 5px;
        margin: 250px 0 0 0;
    }





}



@media screen and (max-width: 830px) {


    .benutzername {
        margin-left: 20%; 
    }

    .logo {
        margin-left: 20%; 
    }

    .contentindex {
        width: 500px;
    }

    .navbarHeader form ul {
        list-style: none;
        color: #464a56;
        text-decoration: none;
        width: 100%;
        margin: 0 0 0 0;
    }


    .navbarHeader li a {
        display: block;
        width: 100%; 
    }

    .red {
        width:  100%;
        height: 5px;
        margin: 250px 0 0 0;
    }

    .benutzername {
        padding-top: 10px;
        margin:  0 0 0 42%;

    }





}



@media screen and (max-width: 600px) {


    .logo {
        margin-left: 20%; 
    }

    .contentindex {
        width: 500px;
    }

    .navbarHeader form ul {
        list-style: none;
        color: #464a56;
        text-decoration: none;
        width: 100%;
        margin: 0 0 0 0;
    }


    .navbarHeader li a {
        display: block;
        width: 100%; 
    }

    .red {
        width:  100%;
        height: 5px;
        margin: 250px 0 0 0;
    }

    .benutzername {
        margin: 0 0 0 37%;
    }
    
    .diplomarbeit {
/*        background-color: red;*/
        margin: 0 0 0 37%;
         
    }





}

