




/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */


@media screen and (max-width: 1200px) {

    .headerindex {
/*        background-color: orange;*/
        height: 100px;
    }

    .navbar form ul {
/*        background-color: red;*/
        float: left;
        list-style: none;
        color: #464a56;
        text-decoration: none;
        margin-left: -45px;
        width: 100%;
    }
    
    

    .red {
        width:  100%;
        height: 5px;
        margin-top: -20px;
    }




}



@media screen and (max-width: 1000px) {


    .headerindex {
        height: 100px;
    }
    
    .navbar form ul {
/*        background-color: greenyellow;*/
        list-style: none;
        color: #464a56;
        text-decoration: none;
        width: 80%;
        margin: 0 0 0 60px; 
    }
    
    li a {
        display: block;
        width: 150px;
        margin: 0 0 0 -20px;
        width: 100%;    
    }

    .red {
        width:  100%;
        height: 5px;
         margin-top: -20px;
    }




}



@media screen and (max-width: 700px) {

  
  .benutzername {
       margin-left: 20%; 
   }
   
/*   .logo {
       margin-left: 20%; 
   }*/
   
   .contentindex {
       width: 500px;
   }
   
    .navbar form ul {
        list-style: none;
        color: #464a56;
        text-decoration: none;
        width: 100%;
        margin: 0 0 0 0;
    }
   
   
    li a {
        display: block;
        width: 100%; 
    }
    
    .red {
        width:  100%;
        height: 5px;
        margin-top: -20px;
    }
       
       

  

}

