/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.04.2020, 14:50:42
    Author     : hp
*/

.content {
    background-color: greenyellow;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 100px 0 0 0;
    width: 310px;
    height: 1000px;
}

.content > div {
/*    background-color: greenyellow;*/
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    width: 200px;

}

.uberschrift_ws {
    margin: 0 0 0 10%;
}

.tftitel {
    margin: 100px 0 0 10%;
}

.tfautor {
    margin: 200px 0 0 10%;
}

.tfdatum {
    margin: 300px 0 0 10%;
}

.tfschlagwort {
    margin: 400px 0 0 10%;
}

.tfschule {
    margin: 500px 0 0 10%;
}

.button_suche {
    margin: 650px 0 0 10%;
}

