/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.11.2019, 16:51:00
    Author     : hp
*/

.wrapper {
    position:absolute;
    width: 100%;
    height: 100%;
    
    
}

.seite {
    
    display: flex;
    flex-wrap: wrap;

    position: relative;
    background-color: blueviolet;
    
    width: 1500px;
    height: 2000px;
    margin: 0 auto 0 auto;
    
        
}





.flex-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  background-color: DodgerBlue;
  width: 100%;
  z-index: 1;
  
  
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 50px;
  margin: 0 0px;
  
  
  text-align: center;
  line-height: 50px;
  font-size: 25px;
}


.flex {
  display: flex;
  flex-wrap: wrap;
  background-color: orange;
  position: absolute;
  
  margin: 50px 0 0 0;
  width: 100%;
  height: 50px;
  
  
}

/*.flex > liste {
    width: 100%;
}*/

.liste {
    margin: 0px 0px 0px 100px;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
}

.list1 {
    margin: auto 0px auto 500px;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
}

.benutzername {
    
    margin: auto 0px auto 200px;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
}

.diplomarbeit {
    
    margin: auto 0px auto 10px;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
    
}





.uberschrift {
    
    position: absolute;
    margin: 0 0 0 0;
    
}



.bib {
 
  background-color: yellow;
  position: absolute;
  margin: 10% 0 0 0;
  width: 100%;
  height: 500px;
  
    
}


.bib > div {
  
 
  position: absolute;
  width: 1400px;
  height: 300px;
  margin: 200px 0 0 50px;
  

  
}

