
.order-table{
    
        position: absolute;
	border-collapse:collapse;
        margin: 0 0 0 450px;
/*        background-color: red;*/
}



.order-table1{  
        
        position: absolute;
	border-collapse:collapse; 
        margin: 0 0 0 1000px;
/*        background-color: red;*/
}


.order-table-header{
	text-align:center;
/*	background:none repeat scroll 0 0 #E5E5E5;*/
/*	border-bottom:1px solid #BBBBBB;*/
/*	padding:50px;*/
}

.order-table-odd-row{
	text-align:center;
/*        background-color: blue;*/
        width: 300px;
       
        
/*	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;*/
        
}

.order-table-even-row{
	text-align:center;
/*        background-color: blue;*/
        width: 350px;
        
        
        
        
/*	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;*/
/*        padding:5px;*/

}

.rahmen {
/*    background-color: red;*/
    width: 300px;
    height: 350px;
    border: 1px outset;
    border: 1px solid;
    border-color: #C1C1C1;
    margin: 0 0 0 40px;
/*    border: 2px solid black;*/
}

.diptitel {
    position: relative;
/*    background-color: green;*/
    margin: 15px 0 0 0;
    font-size: 20px;
}





.order-table-even-row1{
        font-size: 50px;
        padding-top: 10px;
        padding-bottom: 40px;
        text-align:center;
}

.order-table-even-row2{      
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 40px;
        text-align:center;
}



.image {
    width: 240px;
    height: 80%;
    margin: 20px 0 0 0;
    
}





