

.body {
    width: 100%;

}

.wrapper {
    width: 100%;
    height: auto;
    margin: 0 0 0 0;

}


.contentindex {  
    margin: 0 0 0 10%;
    width: 80%;
    height: auto;
}

.mainindex {
    margin: 0 0 0 0;
    width: 100%;
    height: auto;
}


.headerindex {
    width: 100%;
    height: auto;
    margin: 0 0 0 0;  
}


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    color: white;
    font-size: 10px;
    background-color: #292c33;
}


.inputfeld_titel {
    width:100px;
    height: 100px;

}

.autorbutton {
    padding: 50px;
}


.diplomarbeithochladen {
    margin-right: 50px;
}


.mainTable {
/*    background-color: red;*/
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
    padding-bottom: 50px;
    
}

.firstTable {
/*    background-color: red;*/
    width: 400px;
    margin: 0 0 0 10%;
    padding-bottom: 50px;


}

.secondTable {
/*    background-color: red;*/
    width: 400px; 
    margin: 10px 0 0 10%;
    padding-bottom: 50px;

}

.thirdTable {
    width: 400px;
    margin: 10px 0 0 10%;
    background-color: ghostwhite
}


.uberschrift {
    margin: 0 0 0 37%;
}

